{% extends "layout.html" %}

{% block content %}
<div>
	<form method="POST" action="/" id="forecast_dat">
		Address:
		<input type="text" id="address" name="address">
		<br>

        Thinking ahead?
		<input type="date" id="date" name="date">
		<br>
		<br>
		<button type="submit">Hit it!</button>
	</form>

    {% if current %}
    <h3>Here's the Weather for {{addr}} {% if isFuture %} on {{time}} {% endif %}!</h3>
        <p>{% if not isFuture %} Currently it is {{current}}&deg;F {% endif %}</p>
        <p>High: {{high}}&deg;F</p>
        <p>Low: {{low}}&deg;F</p>
        <p>{{hourlySum}}</p>
    {% endif %}

</div>
{% endblock %}
