{% extends "layout.html" %}

{% block content %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<div>
    <h1 class="title" >Future Weather</h1>
    <p class="title">A webapp by Robert, Freda, and Brian</p>
<!--
	<form method="POST" action="/" id="forecast_dat" font size="20" align="left">
		Address:
		<input type="text" id="address" name="address">
		<br>
        Enter Date: 
		<input type="date" id="date" name="date">
		<br>
		<button type="submit" font size ='22'>Submit</button>
		<br>
		<br>
	</form>
-->

	<form method="POST" class="mainForm" action="/" id="forecast_dat" font size="20" align="left">
        <ul>
        <li>
            <label for="Address">Address</label>
            <input type="text" name="address" maxlength="100">
            <span>Enter Your Address</span>
        </li>
        <li>
            <label for="date">Date</label>
            <input type="date" name="date" maxlength="100">
            <span>Enter a valid date</span>
        </li>
	    <button type="submit" font size ='22'>Submit</button>
	</form>

    {% if forecast_type == "current" %}
    <h3>Here's the current Weather for {{addr}}!</h3>
    <p><img src="static/images/climacons_stripped/{{curr_icon}}.svg" alt="{{curr_icon}}"/></p>
        <p>{% if time_ind == 0 %} Currently it is {{current}}&deg;F {% endif %}</p>
        <p>High: {{high}}&deg;F</p>
        <p>Low: {{low}}&deg;F</p>
        <p>{{hourlySum}}</p>
    {% endif %}

    {% if forecast_type == "future"  %}
    <h3>Here's the Weather for {{addr}} {% if isFuture %} on {{time}} {% endif %}!</h3>
    <h1>The results are based on the weather for this day for the past ten years</h1>
        <p>{% if time_ind == 0 %} Currently it is {{current}}&deg;F {% endif %}</p>
        <p>High: {{high}}&deg;F</p>
        <p>Low: {{low}}&deg;F</p>
        <p>{{hourlySum}}</p>
    {% endif %}

    {% if forecast_type == "two_weeks"  %}
    <h3>Here's the Weather for {{addr}} {% if isFuture %} on {{time}} {% endif %}!</h3>
        <p>{% if time_ind == 0 %} Currently it is {{current}}&deg;F {% endif %}</p>
        <p>High: {{high}}&deg;F</p>
        <p>Low: {{low}}&deg;F</p>
	<p>Dew Point: {{dewpoint}}&deg;F</p>
        <p>Humidity: {{Humidity}}%</p>
        <p>{{hourlySum}}</p>
    {% endif %}


</div>
{% endblock %}
