{% extends "layout.html" %}

{% block content %}
<div>
<br>
<br>
	<form method="POST" action="/" id="forecast_dat" font size="20" align="left">
		Address:
		<input type="text" id="address" name="address">
		<br>
        Enter Date: 
		<input type="date" id="date" name="date">
		<br>
		<button type="submit" font size ='22'>Submit</button>
		<br>
		<br>
	</form>

    {% if forecast_type == "current" %}
    <h3>Here's the current Weather for {{addr}}!</h3>
        <p>{% if time_ind == 0 %} Currently it is {{current}}&deg;F {% endif %}</p>
        <p>High: {{high}}&deg;F</p>
        <p>Low: {{low}}&deg;F</p>
        <p>{{hourlySum}}</p>
    {% endif %}

    {% if forecast_type == "future"  %}
    <h3>Here's the Weather for {{addr}} {% if isFuture %} on {{time}} {% endif %}!</h3>
    <h1>The results are based on the weather for this day for the past ten years</h1>
        <p>{% if time_ind == 0 %} Currently it is {{current}}&deg;F {% endif %}</p>
        <p>High: {{10high}}&deg;F</p>
        <p>Low: {{10low}}&deg;F</p>
        <p>{{hourlySum}}</p>
    {% endif %}

    {% if forecast_type == "two_weeks"  %}
    <h3>Here's the Weather for {{addr}} {% if isFuture %} on {{time}} {% endif %}!</h3>
        <p>{% if time_ind == 0 %} Currently it is {{current}}&deg;F {% endif %}</p>
        <p>High: {{high}}&deg;F</p>
        <p>Low: {{low}}&deg;F</p>
        <p>{{hourlySum}}</p>
    {% endif %}


</div>
{% endblock %}
